<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'events/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'events/css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'events/js/bootstrap.min.js' %}"></script>
    <title>{% block title %}MENU  {% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            {#            <a class="navbar-brand" href="{% url 'menu:index' %}">SFLV</a>#}

        </div>

    </div>


</nav>
{% block body %}

{% endblock %}


</body>
</html>

