{% extends 'events/base.html' %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h1>Eventos de hoy</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            {% if locales_list %}
                {% for local in  locales_list %}
                    {% if local.evento_set.all %}
                        {% for evento in local.evento_set.all %}
                            <div class="row">
                             <h2>
                                {{ evento.nombre_evento }}
                            </h2>
                            </div>

                            <div class="row"><img src="{{ evento.img }}" alt="" class="img-responsive"></div>
                           <div class="row">
                             <p>
                                {{ evento.descripcion_evento }}
                            </p>
                           </div>
                          <div class="row">
                          
                            <p>Lugar: {{ local.nombre_local }}</p>

                            </div>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Error</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
